* {
    transition: 0.2s;
    list-style: none;
}

h2 {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.produtos {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.produtos img {
    width: 200px;
    padding: 50px;
}
.item {
    display: block;
}

.produtos img:hover {
    filter: brightness(120%);
}


.combo img{
    width: 100px;
}

footer {
    background-color: #0f0f0f;
    color: hsl(210, 2.1%, 81.6%);
    padding: 25px 0 25px 0;
    font-size: 12px;
}

footer a {
    color: hsl(212, 8%, 63%);
    text-decoration: none;
}
footer a:hover{
    filter: brightness(150%);
}

.copyright {
    text-align: center;
}
.links {
    display: flex;
    justify-content: center;
}
ul {
    text-decoration: none;
    list-style: none;
}
.contato {
    text-align: center;
}