body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

@media(max-width: 650px) {
    .banner img {
        display: none;
    }
}
@media(min-width: 1024px) {
    .left {
        display: flex;
    }
}

* {
    transition: 0.2s;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    padding-bottom: 80px;
    color: #0f0f0f;
    background: linear-gradient(to top left, #303030, white 50%);
}
.desc{
    display: block;
    align-items: center;
    margin: 50px;
}

.desc p {
    max-width: 550px;
    text-align: center;
    margin-bottom: 60px;
}

.desc a {
    max-lines: none;
}

.desc a:hover {
    background-color: #0f0f0f;
    color: aliceblue;
}

.banner img {
    max-width: 30%;
    min-height: 10%;
    border-radius: 0 50px 50px 0;
    margin-right: 100px;
    mask-image: linear-gradient(to right,transparent 10%, white 60%);
/*    mask-image: linear-gradient(to left,transparent 10%, white 60%);*/
    filter: opacity(90%);
    overflow: hidden;
}

.team {
    display: block;
    text-align: center;
    padding: 50px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 25;
}
.imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 40px;
    overflow: auto;
    /* resize: horizontal; */
}

.team p {
    padding: 20px;
    font-size: 20px;
}

.imgs img {
    border-radius: 15%;
}
.imgs figcaption {
    font-weight: bold;
}